.advertise__container__dk{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.advertise__image__dk{
    width: 30%;
}

.advertise__text__dk{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
}

.advertise__text__main__dk{
    text-align: start;
    margin-bottom: 20px;
}

.advertise__text__sub__dk{
    text-align: start;
    margin-top: 0;
}

.advertise__text__main__dk{
font-style: normal;
font-weight: 500;
font-size: 40.5132px;
line-height: 147.2%;
}

.advertise__text__sub__dk{
    font-size: 20px;
}