.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loading__container__homepage{
  height: 100vmin;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}


